{% extends 'base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="px-4 py-4 mx-4 my-4 rounded-3xl bg-gray-100 min-h-full">
  <div class="alert alert-success" role="alert" id="orderSuccessAlert" style="display:none;">
    Order status updated successfully!
  </div>
    <table class="min-w-full divide-y divide-gray-200 mt-5">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Customer</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total Price</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Delivery Address</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created At</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Updated At</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">

            {% for order in orders %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.customer.username }}</td>
                    {% if order.status == 'waiting' %}
                    <td class="px-6 py-4 whitespace-nowrap">
                        <select name="status" class="status-select" data-order-id="{{ order.id }}">
                            <option value="waiting" selected>Waiting</option>
                            <option value="in_progress">In Progress</option>
                        </select>
                    </td>
                    {% elif order.status == 'in_progress' %}
                    <td class="px-6 py-4 whitespace-nowrap">
                        <select name="status" class="status-select" data-order-id="{{ order.id }}">
                            <option value="in_progress" selected>In Progress</option>
                            <option value="completed">Completed</option>
                        </select>
                    </td>
                    {% elif order.status == 'completed' %}
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.status }}</td>
                    {% endif %}
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.total_price }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.delivery_address }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.created_at }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.updated_at }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No orders found.</td>
                </tr>
            {% endfor %}
        </tbody>
  </table>
</div>

<script>
  var csrf_token = "{{ csrf_token }}";
</script>

<script>
$(document).ready(function() {
  $(".status-select").change(function() {
    var orderId = $(this).data("order-id");
    var newStatus = $(this).val();
    $.ajax({
    url: '/order/update_status',
    method: 'POST',
    data: JSON.stringify({ orderId, newStatus }),
    contentType: 'application/json',
    headers: { 'X-CSRFToken': csrf_token },
    success: function(response) {
      // Show the success message
      $('#orderSuccessAlert').show();

      // Hide the success message after 3 seconds
      setTimeout(function() {
        $('#orderSuccessAlert').hide();
        $('#orderModal').modal('hide');
        location.reload(true);
      }, 3000);
      
      // Clear the cartItems array and update the cart badge and total
      cartItems = [];
      updateCart();

    },
    error: function() {
          // Remove the popup message
      alert("Something went wrong!!!")
    }
  });
  });
});

</script>


{% endblock %}
